<h1>List of Cocktails</h1>
  <ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
  <% end %>
</ul>
<%= link_to "create a cocktail", new_cocktail_path  %>

<%= cl_image_tag("https://res.cloudinary.com/mauimel/image/upload/v1565955226/sr3ipnqcv652aufop0ru.jpg",
      width: 400, height: 300, crop: :fill) %>
