<h1>List of Cocktails</h1>
<% @cocktails.each do |cocktail| %>
<ul>
<li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
</ul>
<% end %>
<%= link_to “create a cocktail”, new_cocktail_path  %>

<%= cl_image_tag("homepage_cocktail.jpg",
      width: 400, height: 300, crop: :fill) %>
